@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}

<h1>Reset Password</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-floating mb-3">
        <input asp-for="Input.Email" class="form-control" />
        <label asp-for="Input.Email"></label>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Input.NewPassword" class="form-control" />
        <label asp-for="Input.NewPassword"></label>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <label asp-for="Input.ConfirmPassword"></label>
    </div>

    <button type="submit" class="btn btn-primary">Change password</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
